OPEN_ROUTER_API=your_openrouter_api_key_here

DEEPGRAM_API=demo_key

DATABASE_URL=demo_key


GEMINI_API=demo_key



POSTHOG_API_KEY=demo_key

CLOUDFARE=demo_key



NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=demo_key

CLERK_SECRET_KEY=demo_key


QDRANT_API_KEY= demo_key


QDRANT_ENDPOINT = demo_key